# Ignore __pycache__ directories at any level
**/__pycache__/

**/.ipynb_checkpoints/

# Ignore all data directories at any level
**/data/

# Ignore .idea directory at any level (for JetBrains IDEs)
**/.idea/

# Ignore .vscode directory at any level (for Visual Studio Code)
**/.vscode/
